.sidebar {
  width: 160px;
  height: 100vh;
  background-color: #333;
  padding-top: 20px;
  position: fixed;
  overflow: hidden;
}

.logo-container {
  width: 160px;
  text-align: center;
}

.sidebar img {
  width: 30px;
  cursor: pointer;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar nav ul li {
  padding: 10px;
  opacity: 1;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
}

.content {
  margin-left: 160px;
  padding: 20px;
  overflow-x: auto;
}

.content > * {
  flex: 1;
  min-height: 0;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.sidebar ul li a span {
  margin-left: 10px;
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar nav ul li a .fa-icon {
  min-width: 20px;
}